html{
    background-color: black;}
header, main, footer{    margin: 0 auto 1em auto;
    width: 95vw;}
h1,h2,h3{
        font-family: 'Lobster', cursive;}

/*Header layout*/
header{
    display:grid;
    grid-auto-flow: column;
    align-items: center;
    width:95vw;
    grid-template-columns:repeat(2,auto);
    grid-template-rows: 10vw repeat(5,auto);
    background-color:rgb(120, 17, 6);
    column-gap:1vw;
row-gap: 0;}
    header picture{
        grid-column:1/1 ;
        grid-row:1/6 ;
        max-width: 100%;
        min-width: 60%;
        object-fit: contain;}

    header h1{
        text-align: center;
        margin:0;
       grid-column: 2/-1;
       grid-row:3;
        max-width: 100%;
        font-size: 9vw}
    header h3 {
        margin:0 0.3em;

      grid-column: 2;
      grid-row:4;
        font-size: 4vw;
        max-width: 100%;}
    header nav{
        margin:auto 0;
        grid-column:1/3 ;
        grid-row:6 ;}
    header div {
        place-self: stretch stretch;
        margin:0 auto;
        width: 100%;
        font-size:4vw;
        color: #eee;
        text-align: center;
        grid-column: 1/3;
        grid-row:6;
        background-color: rgba(30, 17, 6, 0.529);
        border:2px solid rgb(0, 0, 0);}
    header div p{font-size: 1em;
        margin: 0 auto;
    width:85%;}
    .linkedin{
        grid-row: 1;
        grid-column: 2;
        height:100%;
        max-width:40%;
        margin-top:1em;}
    .facebook{
        justify-self: end;
        grid-row: 1;
        grid-column: 2;
        height:100%;
        max-width:40%;
        margin-top:1em;}
    header a img{
            height:100%;
            max-width: 100%;
            padding:0;
            margin: 0 auto;}
nav li  {list-style: none;}
    
    
/*menu details*/
nav button{
    font-size: 5vw;
    background-color: gray;}
nav button.open:focus{background-color: white;}
nav ul{display: none;}
nav ul.open{display:flex;
    background-color: black;
flex-direction: column;}
nav ul {margin:0 auto;
padding: 0;}
nav ul.open a{
    display:block;
    text-decoration: none;
    color: white;
    margin:0.1em 0;
    background-color: gray;}
nav ul a:hover{background-color: rgb(120, 17, 6);}

/*The main and inner sections*/
main{background-color: rgba(84, 84, 84, 0.607);
height: fit-content;}
main h1{  border:2px solid black;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.264);}
main p{    border-radius: 15px;
    background-color: white;
    margin:0.5em;
padding:0.1em}
main a {color: white;}
main a:hover{
    background-color: black;
    width:100%;
}
main section{text-align:center;
    border:2px solid black;
    border-radius: 25px;
    background-color: rgb(120, 17, 6);
    margin:1em;}
    .heroImage{text-align:center;

    position:relative;
    height:fit-content;
    margin:0 0.5em;}
    .heroImage h1{margin:0;
        border:none;
    position: absolute;
    left:10%;
    right:10%;}
    .heroImage img {
    border-radius: 25px;
    width:100%;
    margin:0   auto;}
    .heroImage button{margin:0;
    color: #eee;
    position: absolute;
    bottom:7%;
    right:5%;
    font-size: 1.5em;
    background-color: rgb(120, 17, 6);
    font-family: 'Lobster', cursive;}
    .events ul{
        border:2px solid black;
        border-radius: 15px;
        margin-left: 1em;
        margin-right:1em;
        text-align:start;
        background-color: white;
    }

/*Weather*/
.weather {
    width:auto;
    height:auto;
    text-align:center;
    border:2px solid black;
    border-radius: 25px;
    background-image:url("");
    background-size: cover;
    background-color:transparent;
    margin:1em;}

    section .weather{
        font-size: 1.5em;
        text-align:center;
        border:2px solid black;
        border-radius: 25px;
        color:rgba(255, 255, 255, 0.677);
        background-color: rgba(63, 63, 63,0.677);
        margin:1em;
    padding-left: 1em;
        padding-right: 1em;}
        section .weather-part{background-color: transparent;
        border:none}
    .location h1{
        border:none;
        border-radius: 15px;
        font-size: 10vw ;
        color:rgba(255, 255, 255, 0.677);
        background-color: rgba(63, 63, 63, 0.638);}

    .weather .temp{
        font-size: 25vw;
        margin-top:auto;
        margin-bottom: auto;
        color:rgba(255, 255, 255, 0.677);}
    .details p {
        color:rgba(255, 255, 255, 0.677);
        background-color: rgba(63, 63, 63, 0.638);
    }

    .join button{
            color: #eee;
            margin:0.5em;
    font-size: 1.5em;
    background-color: rgba(84, 84, 84, 0.607);
    font-family: 'Lobster', cursive;}



/*Footer details*/
footer{
    height:fit-content;
    margin:0 auto;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:repeat(2,auto);
    justify-content: center;
    justify-items: center;
    align-items: center;
    background: grey;}
footer section{
    text-align: center;
    margin:0 auto;
    grid-row:1;
    grid-column:2;}
footer section h3{margin: 0;}
footer section p{margin: 0;}
footer section a {cursor: pointer;}
footer img{    
    margin:auto;
    width:50%;
    grid-row:1;}
.bottom{
    text-align: center;
    margin:1px 20% 1px 20%;
    grid-row: 2;
    grid-column: 1/3;}