@media  only screen and (min-width: 60em){

    header{
        display:grid;
        width:95vw;
        max-height:30vh;
        grid-template-columns:repeat(6,auto);
        grid-template-rows:repeat(2,auto);
        background-color:rgb(120, 17, 6);
        column-gap:1px;
        row-gap: 0;}
    header img{
            grid-column:1 ;
            grid-row:1 ;
            max-height: 20vh;
            width:100%;}
    header h1{
            text-align: start;
            align-self: start;
            margin:0;
           grid-column: 2/5;
           grid-row:1;
            max-width: 100%;
            font-size: 6vw}
    header h3 {
            align-self: end;
            margin-bottom:0.2em;
            grid-column: 2/4;
            grid-row:1;
            font-size: 2vw;
            max-width: 100%;}
    header nav{display:block;
        height: 6rem;
        width:16vw;
            margin:auto 0;
            grid-column: 4 ;
            grid-row:1;}
    header nav button{
            display:none;}
header nav ul {display:flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    width:100%;
place-content: center;
text-align: center;}
    header div {
            place-self: stretch stretch;
            margin:0 auto;
            width: 100%;
            font-size:3vw;
            color: #eee;
            text-align: center;
            grid-column: 1/-1;
            grid-row:2;
            background-color: rgba(30, 17, 6, 0.529);
            border:2px solid rgb(0, 0, 0);}
    header div p{font-size: 0.8em;
                margin: 0 auto;
            width:85%;}        
    .linkedin{
                justify-self: center;
                margin:auto 0;
                grid-row: 1;
                grid-column:5;
                max-height:50%;
                max-width:50%;
                margin-top:auto;}
    .facebook{
                justify-self: center;
                margin:auto 0;
                grid-row: 1;
                grid-column: 6;
                height:50%;
                max-width:60%;
                margin-top:auto;}
    header a img{ 
                height:100%;
                max-width: 100%;
                padding:0;
                margin: 0 auto;}
    nav ul li{ text-align: center;
                    padding:0.1em 0.1em 0.1em 0.1em;
                    font-size: 1.5em;
                    margin:0.2em 0.2em 0.2em 0.2em;
                    height: min-content;
                    width:fit-content;
                    text-decoration: none;
                    color: white;
                    background-color: rgba(30, 17, 6, 0.529);
            border:2px solid rgb(0, 0, 0);}
    nav ul li a{
        color: white;
                    background-color: rgba(30, 17, 6, 0.529);}
    header nav ul a:hover{background-color:white;
                    color: rgb(120, 17, 6);}



                    main{
                        display:grid;
                        grid-template-rows:repeat(3,auto);
                        grid-template-columns: repeat(5,1fr);}
                        main p{  
                            font-size: 1em;
                            border-radius: 15px;
                            background-color: white;
                            margin:0.5em;
                        padding:0.1em}
                    .heroImage{grid-row:1/3;
                        grid-column:2/5 ;
                    height: 100%;
                    background-image: url("../images/RaymondSugarFactory.jfif");
                    background-size: cover;}
                    .news{grid-row: 3;
                        grid-column:2/5;}
                        .news p{
                            height:50%;
                         }
                    .events{grid-row:1;
                        grid-column:1 ;
                    }
                    .events ul{
                        color: black;
                        font-size:1em;
                        border:2px solid black;
                        border-radius: 15px;
                        margin-left: 1em;
                        margin-right:1em;
                        text-align:start;
                        background-color: white;}
                    .weather{grid-row:2;
                        grid-column: 1;}
                        .location h1{
                            border:none;
                            border-radius: 15px;
                            font-size: 3vw ;
                            color:rgba(255, 255, 255, 0.677);
                            background-color: rgba(63, 63, 63, 0.638);}
                        .weather .temp{
                            font-size: 5vw;
                            margin-top:auto;
                            margin-left: auto;
                            color:rgba(255, 255, 255, 0.677);}
                        .join{grid-row:3;
                        grid-column: 1;}
                    .comSpot1{grid-row: 1;
                        grid-column:5 ;}
                    .comSpot2{grid-row:2;
                        grid-column:5;}  
                    .comSpot3{grid-row:3;
                        grid-column: 5}

                        footer{
                            height:fit-content;
                            margin:0 auto;
                            display:grid;
                            grid-template-columns:repeat(2, 1fr);
                            grid-template-rows:repeat(2,auto);
                            justify-content: center;
                            justify-items: center;
                            align-items: center;
                            background: grey;}
                        footer section{
                            text-align: center;
                            margin:0 auto;
                            grid-row:1;
                            grid-column:2;}
                        footer section h3{margin: 0;}
                        footer section p{margin: 0;}
                        footer section a {cursor: pointer;}
                        footer img{    
                            margin:auto;
                            width:50%;
                            grid-row:1;}
                        .bottom{text-align: center;
                            background-color: rgba(0, 0, 0, 0.24);
                            width:100%;
                            grid-row: 2;
                            grid-column: 1/-1;}
                        
                        }