@media  only screen and (min-width: 37em){
    header{
        display:grid;
        width:90vw;
        max-height:30vh;
        grid-template-columns:repeat(5,auto);
        grid-template-rows:repeat(2,auto);
        background-color:rgb(120, 17, 6);
        column-gap:1px;
        row-gap: 0;}
    header picture{
            grid-column:1 ;
            grid-row:1 ;
            max-height: 20vh;}
            header picture img{
                max-height: 20vh;}
    header h1{
            text-align: start;
            align-self: start;
            margin:0;
           grid-column: 2/5;
           grid-row:1;
            max-width: 100%;
            font-size: 7vw}
    header h3 {
            align-self: end;
            margin-bottom:1em;
            grid-column: 2/4;
            grid-row:1;
            font-size: 3vw;
            max-width: 100%;}
    header nav{
            margin:auto 0;
            grid-column:1/6;
            grid-row:2 ;
        z-index: 1;}
    header nav button{
            font-size: 1.5em;}
    header div {
            place-self: stretch stretch;
            margin:0 auto;
            width: 100%;
            font-size:3vw;
            color: #eee;
            text-align: center;
            grid-column: 1/-1;
            grid-row:2;
            background-color: rgba(30, 17, 6, 0.529);
            border:2px solid rgb(0, 0, 0);}
    header div p{font-size: 1em;
                margin: 0 auto;}
    .linkedin{
                justify-self: center;
                margin:auto 0;
                grid-row: 1;
                grid-column:4;
                max-height:50%;
                max-width:50%;
                margin-top:auto;}
    .facebook{
                justify-self: center;
                margin:auto 0;
                grid-row: 1;
                grid-column: 5;
                height:50%;
                max-width:60%;
                margin-top:auto;}
    header a img{ 
                height:100%;
                max-width: 100%;
                padding:0;
                margin: 0 auto;}

    /*nav menu*/
    nav ul.open{
        display:flex;   
        background-color: black;
        flex-direction: column;}
    nav ul {width: 100%;}
    nav ul.open a{
        font-size: 1.5em;
        margin:0.1em 0.1em;
        text-decoration: none;
        color: white;
        background-color: gray;}
    header nav ul a:hover{background-color: rgb(120, 17, 6);}

    /*main grid*/
    main{
        display:grid;
        grid-template-rows:repeat(6,auto);
        grid-template-columns: repeat(4,1fr);}
        main p{  font-size: 1.5em;}
    .heroImage{grid-row:1;
        grid-column:1/-1 ;
    }
   
    .news{grid-row: 2;
        grid-column:1/-1;}
    .events{grid-row:6;
        grid-column:1/3 ;
        width: fit-content;
        font-size: 1em;
        margin:1em;}

            .events ul{
                color: black;
                font-size:1.5em;
                border:2px solid black;
                border-radius: 15px;
                margin-left: 1em;
                margin-right:1em;
                text-align:start;
                background-color: white;}
    .weather{grid-row:6;
        grid-column:3/5 ;
        margin: 1em;
        text-align: center;}
        .location h1{
            border:none;
            border-radius: 15px;
            font-size: 5vw ;
            color:rgba(255, 255, 255, 0.677);
            background-color: rgba(63, 63, 63, 0.638);}
        .weather .temp{
            font-size: 10vw;
            margin-top:auto;
            margin-left: auto;
            color:rgba(255, 255, 255, 0.677);}
        .weather div.weather{
                width:fit-content;
                margin:auto;}
    .join{grid-row:5;
        grid-column:1/-1 ;}
    .comSpot1{grid-row:3;
        grid-column:1/3 ;}
    .comSpot2{grid-row:3;
        grid-column:3/-1 ;}  
    .comSpot3{grid-row:4;
        grid-column:1/-1 ;}
            
}

/*discovery page*/
#gallery picture img:hover{border-radius: 15px 150px;
    box-shadow: 0 0 50px rgb(252, 47, 47);}
#gallery{margin:auto auto;
    place-content:center;
    display:flex;
max-width: 100%;}
#gallery div{margin-left: auto;
    margin-right:auto;}
#gallery div p{max-width: 300px;}