@media only screen and (min-width: 45em){
HTML{ 
    background: rgb(0, 0, 0);
}


section{ margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
    background: rgb(120, 17, 6);
}
.headshot {
    max-width :60%;
    max-height:auto
;
}
.title{
    margin-left:auto;
    margin-right:auto;
    max-width: 80%;
    max-height: 90%;
    background: rgb(249, 249, 252);
    border-style: ridge;
    border-width: 5px;
    border-radius: 10px;
    font-size: 3.5em;
}
h3.title{font-size: 2.5em;}

.asngmnts{
    font-family: 'Space Mono', monospace;
    text-align:left;
    background: rgb(255, 255, 255);
    padding:0, 10px,0,0;
    font-size: 1.5em;
}
footer{
    margin-left: auto;
    margin-right: auto;
    max-width:60%;
    background: rgb(255, 255, 255);
    text-align: center;
    margin-top:-1.15%;
    font-size: 1em;
}
}