@media only screen and (min-width:40em){
    *{box-sizing: border-box;}
    html{ background-color: rgb(52, 51, 51);}
    .wrapper{ 
        border:2px solid red; 

        display:grid;
        width:100%;
        max-height:fit-content;
        justify-items:center;
        grid-template-columns:repeat(3, 30vw );
        grid-template-rows:1fr;
        place-items:stretch stretch;
    
       }
    
    h1{font-size: 4em;
    background-color: azure;
    text-align: center;
    width :100vw;}
    
    .edhrec{
        display:inline-grid;
        border:2px solid red;
        border-radius: 25px;
        max-height:fit-content;
        max-width:100%;
        grid-column:1/2 ;
        background-color: azure;
        text-justify: center;
        justify-items: center;
        grid-template-rows:repeat(3, fit-content);
    
    }
    .edhc{
        grid-row:1/1;
        width:fit-content;
        font-size:1.5em ;
        background-color: navy;}
    .edht{grid-row:2/2;
    font-size:1em ;}
    .edhl{grid-row: 3/3;
    font-size: 0.75em;}
    .edh{grid-row:4/4;
    max-width:400%;}
    .edhp{grid-row: 5/5;}
    
    .pokemon{
        display:grid;
        border:2px solid red;
        border-radius: 25px;
        max-height:fit-content;
        max-width:100% ;
        grid-column:2/2 ;
        background-color: azure;
        text-justify: center;
        place-items: center top;
        grid-template-rows: repeat(3, fit-content);
    }
    .pokemonc{grid-row:1/1;
        width:100%;
        font-size:1.5em ;
    background-color: navy;}
    .pokemont{grid-row:2/2;
    font-size:1em ;}
    .pokemonl{grid-row: 3/3;
    font-size: 0.75em;}
    .showdown{grid-row:4/4;
        min-height: auto;
        max-width:40%;}
    .pokemonp{grid-row: 5/5;}
    
    .commander{
        display:grid;
        border:2px solid red;
        border-radius: 25px;
        max-height:fit-content;
        max-width:100% ;
        grid-column:3/3 ;
        grid-row:1;
        background-color: azure;
        text-justify: center;
        justify-items: center;
        grid-template-rows:repeat(3, fit-content);
        row-gap:1px;
    }
    
    .commanderc{grid-row:1/1;
        width:100%;
        font-size:1.5em ;
    background-color: navy;}
    .commandert{grid-row:2/2;
    font-size:1em ;}
    .commanderl{grid-row: 3/3;
    font-size: 0.75em;}
    .spellbook{grid-row:4/4;
        min-height: auto;
        max-width:40%;}
    .commanderp{grid-row: 5/5;}
    
    footer{

            text-align: center;
            background: rgb(255, 255, 255);
            font-size: 1em;}
    }