@media only screen and (min-width: 32.5em){
    HTML{ 
        background: rgb(0, 0, 0);
    }
    header{ 
        display:grid;
        grid-template-rows:auto;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        max-height: 60%;
        justify-items:center;
        text-align: center;
        background: rgb(120, 17, 6);
        margin-bottom:0 ;
    }


    .title{margin:0;
        margin-left:auto;
        margin-right:auto;
        max-height: 90%;
        background: rgb(249, 249, 252);
        border-style: ridge;
        border-width: 5px;
        border-radius: 10px;
        font-size: 2.5em;
    }
    .headshot {
        max-height: 60vh;
        max-width: 100%;

    }
    h3.title{font-size: 2em;}

    .asngmnts{margin-top:1px;
        width: 80%;
        font-family: 'Space Mono', monospace;
        text-align:left;
        background: rgb(255, 255, 255);
        padding:0 10px 0 0;
        font-size: 1.5em;
    }
    footer{
        margin-left: auto;
        margin-right: auto;
        max-width:60%;
        max-height: 15%;
        background: rgb(255, 255, 255);
        text-align: center;
        margin-top:-1.15%;
        font-size: 1em;
    }
    
}