@media only screen and (min-width: 32.5em){
html{ background-color: rgb(52, 51, 51);}
.wrapper{ 
    border:2px solid blue; 
    width: 90%;
    display:grid;
    max-height:fit-content;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(6,1fr);

    grid-template-areas:
     'e e e p p p'
     'e e e p p p'
     's s s s s s'
     's s s s s s'
     's s s s s s'
     
     ;
    place-items:stretch stretch;
    grid-gap:1em;
   }


.edhrec{
    display:grid;
    border:2px solid black;
    grid-area: e;


}
.edhc{
    font-size:2em ;}
.edht{
font-size:1.7em ;}
.edhl{
font-size: 1.5em;}



.pokemon{
    display:grid;
    border:2px solid black;
    grid-area: p;
}
.pokemonc{
    font-size:2em ;}
.pokemont{
font-size:1.7em ;}
.pokemonl{
font-size: 1.5em;}



.commander{
    display:grid;
    margin: auto;
    width:80%;
    border:2px solid black;
    grid-area:s;}

.commanderc{
    font-size:2em ;}
.commandert{
font-size:1.7em ;}
.commanderl{
font-size: 1.5em;}
}
