@media only screen and (min-width: 5.5em){
    
    HTML{ 
        background: rgb(0, 0, 0);
    }section{ margin-left: auto;
        margin-right: auto;
        width: 60%;
        max-height: 90%;
        text-align: center;
        background: rgb(120, 17, 6);
    }
    .headshot {
        max-width :60%;
        max-height:auto
    ;
    }
    .title{
        margin-left:auto;
        margin-right:auto;
        max-width: 600px;
        background: rgb(249, 249, 252);
        border-style: ridge;
        border-width: 5px;
        border-radius: 10px;
        font-size: 1.5em;
    }
    h3.title{font-size: 1em;}

    .asngmnts{
        font-family: 'Space Mono', monospace;
        text-align:left;
        background: rgb(255, 255, 255);
        padding:0, 10px,0,0;
        font-size: 0.8em;
    }
    footer{
        margin-left: auto;
        margin-right: auto;
        max-width:60%;
        max-height: 15%;
        background: rgb(255, 255, 255);
        text-align: center;
        margin-top:-1.15%;
        font-size: 0.5em;
    }
    
}