/*General info that applies to all pages */


body{
    background-image: url("../images/beach.webp");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    display: flex;
    flex-direction: column;
align-items: center;
text-align: center;}


header{background-color: transparent;
    height:fit-content;
    text-align: center;
position: relative;
margin-bottom: 0%;
width:100vw;}
.facebook img{
    width:35px;
position: absolute;
align-self: flex-end;
right:1px;
top:1px; }
.linkedin img{
    max-width:35px;
    position: absolute;
    align-self: flex-end;
    right:36px;
    top:1px; }
.instagram img{width:35px;
        position: absolute;
        align-self: flex-end;
        right:71px;
        top:1px; }
nav{width:100%;
    background-color: transparent}
nav button{
margin-top: 0px;
    margin-left:2px;
    margin-right:98%;
    font-size: 3vw;
    background-color: gray;}
nav button.open:focus{background-color: white;}
nav ul{display: none;}
nav ul.open{display:flex;
    background-color: transparent;
flex-direction: column;}
nav ul {margin:0 auto;
padding: 0;}
nav ul.open a{
    right:200px;
    display:block;
    text-decoration: none;
    color: white;
    margin:0.1em 0;
    background-color: transparent}
nav ul a:hover{background-color: rgb(7, 109, 160);}


main{background-color: aquamarine;
width:90vw;
margin:auto;
display:flex;
flex-direction: column;}


footer{
width: 100%;
    height:fit-content;

    background-color: White;
    margin-bottom: 0%;
    margin-top:1em;}
footer h3 {margin:0%;
    font-size: 1.5em;
    margin-left: 5%;
    text-align: center;}
footer div{
align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: stretch;}
footer p {
    margin:0%;
    margin-left: 5%;
    padding:0px;}


p{padding: 1em;
    font-family: 'Lato', sans-serif;}
h1, h2, h3{font-family: 'Nerko One', cursive;
text-align: center;}


/*Home page styles*/
header h1{font-size: 5em;
margin:1px;
margin-top:0.3em;
background-color: rgba(240, 255, 255, 0.314);
border-radius: 90%;}
main.home{width:80%;}
.weather{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: center;
    border: 2px solid black;
    background-image: url(../images/eclipse\ palm\ tree.webp);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-color: rgba(253, 255, 255, 0.995);
    width:60vw;
    text-align: center;
    margin-bottom: 1em;}
.weather h2{font-family: 'Space Mono', monospace;
background-color: transparent;
font-size: 2em;}
.weather p{padding:0%;
    font-size: 1.5em;}
.weather *{align-self: center;
    background-color: rgba(253, 255, 255, 0.658);
        width:fit-content;
    border-radius: 20%;
    margin:0%;}
.weather figure{background-color: transparent;}
.weather img{background-color: rgba(253, 255, 255, 0.44);}
.weather figcaption{display: flex;
margin-right: 10%;
margin-left: 10%;}


/*Fresh page styles*/
main.fresh{
    width:90vw;
}
.cards{width:150px;
background-color: beige;
margin:0;
text-align: center;
padding-bottom:0.5em;}

.form{
    display: flex;
    flex-direction: column;
    width:90%;
    align-items: center;
    margin:auto;
    background-color: beige;}
input{border: 2px solid black;}
.cardDisplay{
    margin:auto;
    width:95%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;}
#ingredients{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
background-color: white;
width: fit-content;}
#ingredients div input,#ingredients div label{
    margin:0.5em 0;
    font-size: 4vw;}
div.results{
    border:solid 3px rgb(217, 172, 8);
        align-self: center;
        background-color: beige;
        width:80%;
        margin-top: 1em;}
button.fresh{
    margin-left: 10%;}
.cards{border:solid 3px rgb(217, 172, 8);}
.cards:hover{background-color: rgb(0, 225, 255);}

/* About us page */
iframe{
    width:80%;
    height: 40vw;}
.find{margin:1em;}
.contact h2, .contact div p {margin: 0px;
    padding: 0px;}