@media  only screen and (min-width: 37em){


body{background-color: beige;}
header{width:100vw;}
main{background-color: aquamarine;}
.weather{background-color: aqua;
width:60vw;
text-align: center;}
footer{background-color: blue;}}